.item {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}

.newpostimage {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.newposttext {
  color: white;
  font-size: 20px;
  width: 700px;
}

.like {
  width: 50px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  transition: opacity .5s linear;
  opacity: 1;
}

.like:hover {
  opacity: 0.7;
}

.count {
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-right: 10px;
}