.dialogs {
  padding: 10px;
}

.title{
color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.items {
  color: white;
  border-right: 1px solid grey;
}

.item {
  font-size: 20px;
  padding-bottom: 10px;
}

.active {
  color: black;
  font-size: 25px;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: opacity .5s linear;
  opacity: 1;
}

.link:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.messages {}

.message {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.text {
  color: white;
  font-size: 20px;
  padding: 20px;
  width: 600px;
  border: 1px solid white;
  border-radius: 20px;
}